@blockMenuColor: rgb(123, 247, 123);
.menu {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    background-color: rgb(147, 177, 147);

    .menu_item {
        margin: 10px;
        padding: 10px;
        width: 30%;
        height: 10vh;
        border: 1px solid black;   
    }
    
    .menu_item:hover {
        animation: 0.5s forward forwards;
        }
        @keyframes forward {
        0% {
            width: 33%;
            animation-timing-function: ease-out;
            
        }
        10% {
            width: 35%;
            animation-timing-function: ease-out;
        }
        30% {
            width: 38%;
            animation-timing-function: ease-out;
            }
        100% {
            width: 40%;
            animation-timing-function: ease-out;
            
             } 
        }

    .javaScript {
        display: flex;
        align-self: flex-end;
    }

    .git {
        display: flex;
        align-self: flex-end;
    }

    .books {
        display: flex;
        align-self: flex-end;
    }

}