// Шрифты Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.site-header {
    display: flex;
    max-width: 1920px;
    background-color: green;


    .socialNetworks-icons {
        display: flex;
        margin-top: 43px;
        margin-left: 405px;
        margin-right: 260px;
        margin-bottom: 69px;

    .socialNetworks-icons__link {
        width: 36px;
        height: 36px;
        margin: 5px;
        background-color: #d6ae9a;
        }
    .socialNetworks-icons__link_VK {
        background-image: url('./images/site-header/socialNetworks-icons__link_VK.svg');
        }
    }

    .site-header__text{
        margin-top: 40px;
        margin-top: 32px;
    }
    .header__callback {
        margin-top: 51px;
        margin-right: 407px;
        margin-left: 248px;
        margin-bottom: 42px;
        }

}